##################################################################################
# init.config
# 기본 사양
# 1. KEY==VALUE로 구분
# 2. 취득한 값은 Dictionary<String, String> 형식으로 저장
# 3. KEY와 VALUE사이에 공백 존재시 공백 제거
# 4. #로 시작하는 행은 주석처리
# 5. 중복된 KEY가 존재할 경우 상위에 지정한 값을 보존(하위값은 버려짐)
# 6. 파일의 내용을 수정 할 경우 어플리케이션 재시작 필요
##################################################################################
DBCONFIG==Server=localhost;Port=5432;Database=cinemadb;User Id=admin;Password=1111
TEST==테스트
SAMPLE==샘플
# 이메일 인증 관련 정의
MAIL_SMTP_GMAIL==smtp.gmail.com
MAIL_PORT_GMAIL==587
MAIL_SERVER_ADDR==nameybs@gmail.com
MAIL_SERVER_PASS==rnzoodfqbcnwqhlr