@{
    ViewData["Title"] = "Login";
}
<div id="LoginDiv" class="mx-auto mt-5">
    <form id="LoginForm" class="needs-validation" method="post" novalidate>
        <!-- 아이디 입력 -->
        <div class="form-outline mb-4">
            <label class="form-label" for="UserId">아이디</label>
            <input type="text" id="UserId" class="form-control" name="user_id" placeholder="Enter ID" required />
            <div class="invalid-feedback">아이디를 입력해주세요.</div>
        </div>
        <!-- 비밀번호 입력 -->
        <div class="form-outline mb-4">
            <label class="form-label" for="UserPassword">비밀번호</label>
            <input type="password" id="UserPassword" class="form-control" name="password" placeholder="Enter Password" required />
            <div class="invalid-feedback">비밀번호를 입력해주세요.</div>
        </div>
        <!-- 입력정보 저장 -->
        <div class="row mb-4">
            <div class="col d-flex justify-content-center">
                <div>
                    <input type="checkbox" id="SaveId" checked />
                    <label for="SaveId"> 아이디 저장 </label>
                </div>
            </div>
            <div class="col">
                <!-- 비밀번호 찾기 -->
                <a href="#!">비밀번호 찾기</a>
            </div>
        </div>
        <!-- 로그인 버튼 -->
        <div class="d-grid col-12 mx-auto mb-4">
            <button type="button" id="LoginSubmit" class="btn btn-primary">로그인</button>
        </div>
    </form>
    <!-- 회원가입 버튼 -->
    <div class="text-center">
        <p>아직 회원이 아니세요? <a href="/User/ConfirmEmail"> 회원가입</a></p>
    </div>
</div>
<!-- Script Area -->
<script src="~/js/Common/cookieControl.js"></script>
<script>
    // 초기화 처리
    $(document).ready(function(){
        $("#UserId").val(getCookie("userID"));
    });

    $('#LoginSubmit').on('click', function(event) {
        // 입력체크
        if(!$('.needs-validation')[0].checkValidity()) {
            $('.needs-validation')[0].classList.add('was-validated');
        } else {
            // 로그인 처리
            $.ajax({
                url: "/User/LoginCheck",
                data: $('#LoginForm').serialize(),
                contentType: "application/x-www-form-urlencoded",
                dataType: "json",
                type: "POST",
                processData: false,
                success: function (data) {
                    // 정상처리
                    if (data == 0) {
                        // 아이디 저장 여부 확인
                        if($('#SaveId').is(':checked')) {
                            // 쿠키 설정(아이디를 7일동안 보관)
                            setCookie("userID", $("#UserId").val(), 7);
                        } else {
                            // 쿠키삭제
                            deleteCookie("userID");
                        }
                        location.replace('/Home');
                    } else if (data == 1) {
                        alert("ID또는 비밀번호를 확인 해 주세요.");
                    } else if (data == 2) {
                        MsgBox.Alert("존재하지 않는 유저입니다.");
                        //alert("존재하지 않는 유저입니다.");
                    }
                },
                error: function (data) {
                    alert("알수없는 에러가 발생했습니다.");
                }
            });
        }
    });
</script>
<!-- CSS Area -->
<style>
    #LoginDiv {
        max-width: 25rem;
        margin: auto;
    }
</style>