@{
    ViewData["Title"] = "Sign Up";
}
<div class="mx-auto mt-5">
    <div id="signup-nav" class="nav nav-tabs">
        <li id="nav-list" class="nav-item">
            <a id="nav-text" class="nav-link disabled" tabindex="-1" aria-disabled="true">본인인증</a>
        </li>
        <li id="nav-list" class="nav-item">
            <a id="nav-text" class="nav-link active" tabindex="-1" aria-disabled="true">약관동의</a>
        </li>
        <li id="nav-list" class="nav-item">
            <a id="nav-text" class="nav-link disabled" aria-current="page" aria-disabled="true">정보입력</a>
        </li>
        <li id="nav-list" class="nav-item">
            <a id="nav-text" class="nav-link disabled" tabindex="-1" aria-disabled="true">가입완료</a>
        </li>
    </div>
    <br /><br />
    <div id="signup-div">
        <p class="page-info-txt">
            <strong>회원가입을 위한 정보 입력 단계입니다.</strong>
            <br />
            <span>입력 항목에 내용을 입력한 후에 가입 버튼을 눌러주세요.</span>
        </p>
        <form id="SignUpForm" class="needs-validation" method="post" novalidate>
            <div class="form-group">
                <label for="UserEmail">Email</label>
                <input class="form-control" name="email" type="email" placeholder="Enter Email" required>
                <div class="invalid-feedback">메일주소를 확인해주세요.</div>
            </div>
            <br />
            <div class="d-grid col-12 mx-auto mb-4">
                <button type="submit" id="emailVerifySubmit" class="btn btn-primary">인증</button>
            </div>
        </form>
    </div>
</div>
<!-- Script Area -->
<script src="~/js/Common/validate.js"></script>
<script>
</script>
<!-- CSS Area -->
<style>
    #signup-div {
        max-width: 25rem;
        margin: auto;
    }

    #signup-nav {
        max-width: 25rem;
        margin: auto;
    }

    #nav-list {
        min-width: 5rem;
        margin: auto;
    }

    #nav-text {
        text-align: center;
    }

    .nav-link.active {
        font-weight: bold;
    }
</style>