@{
    ViewData["Title"] = "Terms Conditions";
}
<div class="mx-auto mt-5">
    <div id="signup-nav" class="nav nav-tabs">
        <li id="nav-list" class="nav-item">
            <a id="nav-text" class="nav-link disabled" tabindex="-1" aria-disabled="true">본인인증</a>
        </li>
        <li id="nav-list" class="nav-item">
            <a id="nav-text" class="nav-link active" aria-current="page" aria-disabled="true">약관동의</a>
        </li>
        <li id="nav-list" class="nav-item">
            <a id="nav-text" class="nav-link disabled" tabindex="-1" aria-disabled="true">정보입력</a>
        </li>
        <li id="nav-list" class="nav-item">
            <a id="nav-text" class="nav-link disabled" tabindex="-1" aria-disabled="true">가입완료</a>
        </li>
    </div>
    <br /><br />
    <div id="signup-div">
        <p class="page-info-txt">
            <strong>서비스에 필요한 이용약관을 확인 해 주세요.</strong>
            <br />
            <span>이용 약관동의 항목에 체크 후에 다음 버튼을 눌러주세요.</span>
        </p>
        <form id="TermsConditionsForm" action="/User/SignUp" class="needs-validation" method="post" novalidate>
            <div class="form-group">
                <label for="TermsConditions">이용약관</label>
                <textarea class="form-control" id="TermsConditions" rows="5">@CinemaProject.Common.CommonUtil.GetTextFromFile(
                    CinemaProject.Common.Const.FILE_PROP_PATH 
                    + "/" 
                    + CinemaProject.Common.Const.TERMS_CONDIRIONS_TEXT)</textarea>
            </div>
            <div class="row mb-4">
                <div class="col d-flex">
                    <div>
                        <input type="checkbox" class="form-check-input" id="Agree" required />
                        <label for="Agree"> 이용약관 동의 </label>
                        <div class="invalid-feedback">이용약관에 체크해주세요.</div>
                    </div>
                </div>
            </div>
            <br />
            <div class="d-grid col-12 mx-auto mb-4">
                <button type="button" id="TermsConditionsFormSubmit" class="btn btn-primary">회원가입</button>
            </div>
        </form>
    </div>
</div>
<!-- Script Area -->
<script>
    $('#TermsConditionsFormSubmit').on('click', function(event) {
        // 입력체크
        if(!$('.needs-validation')[0].checkValidity()) {
            $('.needs-validation')[0].classList.add('was-validated');
        } else {
            $('#TermsConditionsForm').submit();
        }
    });
</script>
<!-- CSS Area -->
<style>
    #signup-div {
        max-width: 40rem;
        margin: auto;
    }

    #signup-nav {
        max-width: 40rem;
        margin: auto;
    }

    #nav-list {
        min-width: 5rem;
        margin: auto;
    }

    #nav-text {
        text-align: center;
    }

    .nav-link.active {
        font-weight: bold;
    }
</style>